           <div id="main-content" class="main-content container-fluid">
            <!-- // page head -->

            <div id="page-content" class="page-content">
                <section>
                    <div class="row-fluid margin-top20">
                        <div class="span12">
                            <div class="widget widget-simple">
                                <div class="widget-header">
                                    <h4><i class="fontello-icon-user"></i> Novo outdoor</h4>
                                </div>
                                <div class="widget-content">

									<%= render 'form' %>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>