
                            <div class="widget widget-simple">
                                <div class="widget-header">
                                    <h4><i class="fontello-icon-user"></i> Editar cliente</h4>
                                </div>
                                <div class="widget-content">

								<%= render 'form' %>

								<%= link_to 'Ver', [:admin, @cliente], class: "btn"  %> 
								</div>
							</div>

