<% if admin_usuario_signed_in? %>

<div class="sidebar-item">
  <div class="media profile">
    <div class="media-thumb media-left thumb-bordereb"> <a class="img-shadow" href="javascript:void(0);">

     <%= image_tag("demo-avatar9604.jpg") %>
   </a> </div>
   <div class="media-body">
    <h5 class="media-heading">Twitter Bootstrap <small>as Administrator</small></h5>
    <p class="data">Last Access: 16 May 15:30</p>
  </div>
</div>
</div>

<% end %>