<h1>Novo pedido</h1>
<%= form_tag({:action => 'search_outdoor_available'}, :id => "tool-form", :remote => true,:'data-update-target' => 'outdoors_available') do %>
<fieldset>
	 <legend>Qual o período da reserva?</legend>
	  <div class="six columns">
    	<label>Início</label>
    	<input type="text" id="inicio_periodo" name="inicio_periodo" />
      </div>
      <div class="six columns">
    	<label>Fim</label>
    	<input type="text" id="termino_periodo" name="termino_periodo"/>
      </div>
</fieldset>
<%= submit_tag("Buscar", :class => "button") %>
<% end %>
<div id="outdoors_available">

</div>
<div id="loading" style="display: none">
	<h2>Carregando</h2>
</div>

<%= link_to 'Back', pedidos_path %>
