
                            <div class="widget widget-simple">
                                <div class="widget-header">
                                    <h4><i class="fontello-icon-check"></i> Novo check-in
                                    	<br/>
                                    	<small><%="#{@reserva.cliente.nome}"%></br><%="#{@reserva.inicio_reserva.strftime("%d/%m/%Y")} - #{@reserva.termino_reserva.strftime("%d/%m/%Y")}"%></small>
									</h4>
                                </div>
                                <div class="widget-content">
									<%= render 'form' %>

								</div>
							</div>
