@import "compass/css3" ;

$font1: 'Raleway', verdana, arial, sans-serif;
$color1: #316A2A;
$color2: #359737;
$color3: #1D1E23;
$color4: #FCFDFF;


.top-bar{
	background: $color2;
}
.button{
	@include border-radius(20px);
	@include linear-gradient(top left, #3D79CF, #45A1F8);

}
aside, .nav-bar{
	background: $color3;
	color:$color4;
	h5{
		color: $color4;
		float:right;
	}
}
body{
	font-family: $font1;
	background: url(background/body-bg-02.jpg) repeat scroll 0 0 transparent;
	h1,p{
		@include text-shadow(0 1px 0 rgba(255, 255, 255, 0.6));
	}
}
h1, h2, h3, h4, h5, h6, p, ol, ul, td {
  font-family: $font1;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	@include box-shadow(1px 1px 1px rgba(white, 0.4) inset);
}
 .ui-datepicker th{font-size: 12px}
input[type="checkbox"] {float:left;}
span{width: 100%;float:left;margin-bottom: 10px;}
.collection_check_boxes{
	float:left;
	width: 90%;
}
 .select_date{
 	width:100px;
 	margin-bottom: 15px;
 }

.ui-datepicker-title span{width: auto;margin-left: 15px}