/*-------------------------- Boo --------------------------*/
html, body{
  background: #fafafa;
}
#header .header-drawer{
  background: #e7e7e7;
  box-shadow: none;
  border: #e7e7e7;
  margin-top: 40px;
}
.navbar-inverse .navbar-inner{
  background: #18925a;
  border: #18925a; 
}
a , .navbar-inverse .brand, .navbar-inverse .title, .navbar-inverse .nav > li > a{
  text-shadow:none;
}

.navbar-inverse .brand, .navbar-inverse .title, .navbar-inverse .nav > li > a{
  color: #fff;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
  background-color:#197e4f;
}
.search-global .search, .search-global input[type="search"]{
  background-color:#197e4f;
}
.sidebar{
  top: 74px;
}
.sidebar-inverse, .sidebar-item .profile{
  background: #363431; 
}
.nav-side .accordion-group > .active{
  background: #fafafa;
}
/*-------------------------- Boo --------------------------*/

.left{float: left;}
.right{float: right;  }

.text-left{float: left;text-align: left;margin:0 4% 0 0;}
.text-right{float: right;text-align: right;margin:0 4% 0 0;}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

header nav ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
header nav ul li {
  display: inline;
}
#flash_notice, #flash_alert {
  margin: 10px 0;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 4px 4px 4px 4px;
}
#flash_notice {
  background-color: #DFF0D8;
  border:1px solid #D6E9C6;
  color: #468847;
}
#flash_alert {
  background-color: #F2DEDE;
  border:1px solid #EED3D7;
  color: #B94A48;
}

.options input {
  display: inline;
}

.checkbox_container {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
}
.checkbox_container input {
  display: inline;
}
.checkbox_container .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
}

.fileupload {
  float: left;
  margin: 0 20px 20px 0;
}

.thumb-mini .media-thumb .thumb, .thumb-mini .media-thumb .img-shadow{
  height:25px;
  width:40px;
}

div.operator{float:left;width:2%;margin:0.5% 0 0 1% ;}

/* Validate
***************************/

input.parsley-error, textarea.parsley-error {
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
  color: #B94A48 !important;
}

.parsley-error-list{
  background: none repeat scroll 0 0 #F9E2E2;
  color: #B94A48;
  line-height: normal;
  list-style: none outside none;
  margin: 1% 0 0;
  padding: 1%;
  width: 30%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
}

/* Button action table
*****************************************/
td a.fontello-icon-edit, td a.fontello-icon-trash{display: none}