
                            <div class="widget widget-simple">
                                <div class="widget-header">
                                    <h4><i class="aweso-icon-list-alt"></i> Editar outdoor</h4>
                                </div>
                                <div class="widget-content">

								<%= render 'form' %>
								</div>
							</div>

